* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

:root {
    --bg-color: #111;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--bg-color);
}

.btn {
    position: relative;
    height: 70px;
    width: 220px;
    text-transform: uppercase;
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    text-align: center;
    border-radius: 10px;

    & span {
        height: 88%;
        width: 96%;
        background-color: var(--bg-color);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 6px;
        line-height: 62px;
        color: #fff;
        font-size: 25px;
    }
}

.btn:hover {
    animation: coloroll 3s linear infinite;
}

@keyframes coloroll {
    100% {
        filter: hue-rotate(-360deg);
    }
}